# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Env
.env
.env.local
*.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*.firebase/
