rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /profile/{profileDocId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /files/{fileId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /notes/{noteId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /links/{linkId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}